*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.main-contener{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 122px;
    background: #FFF;
}
.headerl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    border-left: 120px;
}
.texth{
    color: #054C73;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.headerr a{
    color: var(--Font-Color, #333);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.headerr{
    display: flex;
    justify-content: space-around;
    width: 59%;
}
.main-slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./image/scandinavian-interior-mockup-wall-decal-background 1.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 749px;
}
.main-contener .slider1{
    width: 643px;
    height: 443px;
    border-radius: 10px;
    padding: 15px;
}
.main-contener .slider-bagroung{
    padding-left: 50px;
    width: 643px;
    height: 443px;
    border-radius: 10px;
    background: #DFE9F4;
    padding: 20px;
}
.slider-bagroung .ptext{
    color: var(--Font-Color, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 3px;
}
.slider-bagroung h1{
    color: var(--Primary-color, #054C73);
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
}
.slider-bagroung p{
    color: var(--Font-Color, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}
.slider-bagroung a{
    display: inline-flex;
    padding: 25px 72px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: var(--Primary-color, #054C73);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;    
}
.infor{
    background: #F2F5FF;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inf1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inf1 .inf1t{
color: var(--Font-Color, #333);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 15px;
}
.inf1 .inf1p{
    color: var(--Font-Color, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
    }

.main-contener .texti{
    color: var(--Font-Color1, #333);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 60px;
}
.main-contener .text1{
    color: var(--Font-Color1, #666);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
}
.main-contener .confot{
    width: 100%;
    display: flex;
    justify-content: center;

}
.confot .foto1 img{
    width: 100%;
}
.confot .foto1, .foto2, .foto3{
    width: 355px;
    height: 434px;
    margin: 35px;
}
.confot .foto1, .foto3{
    margin-top: 80px;

}
.main-contener .confot1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2F5FF;
}
.confot1 .textbot{
    width: 45%;
}
.confot1 .foto4{
    margin-top: 35px;
    margin-bottom: 35px;
}
.confot1 .foto4 img{
    width: 100%;
}
.confot1 .textbot .textb{
    color: var(--Font-Color, #333);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.confot1 .textbot .textpb{
    color: var(--Font-Color, #666);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
}
.confot1 .textbot .buttonb{
    display: inline-flex;
    padding: 24px 57px;
    align-items: flex-start;
    gap: 10px;
    background: var(--Primary-color, #054C73);
    border-radius: 50px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    font-weight: 700;
}
.confot .foto11, .foto22, .foto33{
    width: 355px;
    height: 434px;
    margin: 35px;
}
.confot .foto123{
    color: var(--Font-Color, #333);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#hat{
    width: 100%;
    height: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.288);
}
#confot{
    height: 650px;
}
#confot1{
    height: 650px;
}
.main-contener .search{
    width: 100%;
    height: 363px;
    background: #F2F5FF;
}
#bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bot .bot1{
    width: 486px;
    height: 70px;
    background: #FFF;
    border: 1px solid var(--Primary-color, #054C73);
}
#bot .bot2{
    width: 153px;
    height: 70px;
    background: var(--Primary-color, #054C73);
    border-radius: 3px;
    border: 1px solid #011C42;
}
#bot .bot1 a{
    width: 175px;
    height: 20px;
    text-decoration: none;
    color: #011C42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
}
#bot .bot2 a{

}